@use 'base/variables' as v;
@use 'base/mixins' as m;
.filtros{
    background-color: v.$indigo;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    .filtros-inputs{
        @include m.tablet {
            display: flex;
            align-items: center;
            gap: 3rem;
        }
    }
    h2{
        font-size: 2.4rem;
        color: v.$blanco;
        @include m.tablet {
            margin: 0;
        }
    }
    .campo{
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        @include m.tablet {
            margin-bottom: 0;
        }
        label{
            color: v.$blanco;
        }
    }
    input[type="radio"]{
        accent-color: v.$indigo;
        width: 2rem;
        height: 2rem;
    }
}