.header{
    img{
        height: 90px;
        margin-bottom: 35px;
    }
}
body{
    transition: all 2s;
    margin: 0;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 99%, rgba(223,176,103,1) 100%);
}
.header{
    display: flex;
    justify-content:space-between;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 68%, rgba(223,176,103,1) 100%);  
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
    margin-right: 10px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 68%, rgba(223,176,103,1) 100%);
    .link{
        &.selected{
            color: black;
            border-bottom: 1px solid;
        }
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 10px;
        color: white;
        &:hover{
            color: black;
            cursor: pointer;
            border-bottom: 1px solid;
        }
    }
    a{
        text-decoration: none;
        color: black;
    }
}