@use 'base/mixins' as m;
@use 'base/variables' as v;
.olvide{
    margin-top: 5rem;
    .uptask{
        @include m.textoDegradado(v.$morado);
    }
    input[type="submit"]{
        @include m.boton(v.$morado, v.$blanco)
    }
    .acciones{
        a{
            color: lighten(v.$morado, 20%);
        }
    }
    input{
        background-color: lighten(v.$morado, 30%);
    }
}