@use 'base/mixins' as m;
@use 'base/variables' as v;
.paquetes{
    &__grid{
        @include m.contenedor(120rem);
        @include m.grid(1, 3rem);
        @include m.tablet {
            @include m.grid(3, 3rem);
        }
    }
}
.paquete{
    &__submit{
        margin-top: 4rem;
        @include m.boton(v.$azul, v.$blanco);
    }
    @include m.card;
    &:nth-child(2),
    &:nth-child(3){
        order: -1;
    }
    &__lista{
        @include m.reset-lista;
        line-height: 2;
    }
    &__precio{
        font-size: 6rem;
        margin: 3rem 0 0 0;
        color: v.$azul;
        font-weight: v.$black;
        text-align: center;
    }
}